coloredlogs==15.0.1
fg-data-profiling==4.19.1
humanize==4.15.0
imageio==2.37.3
mpld3==0.5.12
numba==0.62.1
pandas==2.3.3
prettytable==3.17.0
pymupdf4llm==1.27.2.3
pyrefly==1.0.0
scipy==1.16.3
setuptools==81.0.0
spacy==3.8.14
tqdm==4.67.3
ty==0.0.39
typeguard==4.5.2
ucimlrepo==0.0.7