black==26.3.1
coloredlogs==15.0.1
fastapi==0.140.5
form2request==0.2.0
fg-data-profiling==4.19.1
humanize==4.16.0
imageio==2.37.4
instructor==1.15.4
ipywidgets==8.1.8
jupyterlab==4.6.2
matplotlib==3.10.9
mypy==2.0.0
mpld3==0.5.12
numba==0.66.0
pandas==3.0.5
prefect==3.8.0
prettytable==3.18.0
pymupdf4llm==1.28.0
prophet==1.3.0
pydantic==2.13.4
pymupdf4llm==1.28.0
pyrefly==1.1.1
ruff==0.15.11
scikit-learn==1.9.0
scipy==1.18.0
scrapling[fetchers]==0.4.12
scrapy==2.17.0
seaborn==0.13.2
setuptools==83.0.0
spacy==3.8.14
sqlalchemy==2.0.51
streamlit==1.60.0
sympy==1.14.0
tqdm==4.70.0
ty==0.0.63
typeguard==4.6.0
ucimlrepo==0.0.7