black==26.3.1
coloredlogs==15.0.1
fg-data-profiling==4.19.1
humanize==4.15.0
imageio==2.37.3
ipywidgets==8.1.8
jupyterlab==4.6.1
matplotlib==3.10.9
mypy==2.0.0
mpld3==0.5.12
numba==0.66.0
pandas==3.7.5
prefect==3.7.7
prettytable==3.18.0
pymupdf4llm==1.28.0
prophet==1.3.0
pyrefly==1.1.1
ruff==0.15.11
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
setuptools==83.0.0
spacy==3.8.14
sqlalchemy==2.0.51
streamlit==1.58.0
sympy==1.14.0
tqdm==4.68.3
ty==0.0.56
typeguard==4.5.2
ucimlrepo==0.0.7
